body {
    font-family: Arial, sans-serif;
    background-color: #fffbfb;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #323f01;
    color: #f1d1d1;
    text-align: center;
    padding: 20px;
  }
  
  nav {
    background-color: #c1c351;
    color: #673e41;
    text-align: center;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 10px;
  }

  footer {
    background-color: #777; 
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 16px; 
  }
  
  footer small {
    font-size: 16px; 
  }
  
  
  main {
    padding: 20px;
  }
  
  p {
    text-align: center;
    color: rgb(255, 133, 133);
  }
  
  .para1 {
    text-align: right;
    color: rgb(14, 161, 14);
  }
  
  .para2 {
    text-align: left;
    color: blue;
  }
  
  h1 {
    text-align: center;
  }
  
  h1, h2, h3 {
    text-align: right;
    color: blue;
  }
  
  a {
    color: bisque;
    text-decoration: none;
  }
  
  a:visited {
    color: darkgreen;
  }
  
  a:hover {
    color: goldenrod;
    text-decoration: none;
  }
  
  a:active {
    color: coral;
  }